/* HEADER */
.cabecalho {
    padding: 10px 100px;

}

.cabecalho-imagem {
    height: 50px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: antiquewhite;
    font-weight: 400;
    font-size: 18px;
}

/* MAIN --------------------------------------------------------------------------------------------------------------------------------- */ 
.conteudo {
    margin-bottom: 50px;
    padding: 30px 100px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    gap: 32px;
    padding: 0px 10px;
}

.conteudo-principal-escrito-titulo {
    font-size: 3.5em;
}

.conteudo-principal-escrito-subtitulo {
    font-size: 1.5em;
}

.conteudo-principal-escrito-botao {
    width: 180px;
    height: 60px;
    border-radius: 15px;
    font-size: 24px;
}

.conteudo-principal-imagem {
    height: 400px;
}

@media (max-width: 950px) {
    .conteudo-principal-escrito-titulo {
        font-size: 3em;
    }

    .conteudo-principal-escrito-subtitulo {
        font-size: 1.5em;
    }

    .conteudo-principal-escrito-botao {
        font-size: 1.5em;
    }
    
    .conteudo-principal-imagem {
        height: 300px;
    }
}

/* REDES SOCIAIS-------------------------------------------------------------------------------------------------------------------------- */
.imagens-redes-sociais {
    padding: 40px 10px 20px 10px;
}

.logo-rede-social {
    height: 40px;
}

/* CONTEUDO SECUNDARIO -------------------------------------------------------------------------------------------------------------------- */
.conteudo-secundario {
    gap: 24px;
  }
  
  .conteudo-secundario-titulo {
    padding-top: 30px;
    font-size: 2em;
    margin-bottom: 16px;

  }
  
  .conteudo-secundario-paragrafo {
    font-size: 18px;
  }

/* SKILLS */
.skills {
    padding: 40px 10px 20px 10px;

}

.imagens-skills {
    display: flex;
    height: 80px;
    margin: 0px 80px;
}

  /* PROJETOS */
  .conteudo-terciario {
    font-size: 1em;
    margin: 30px 15px 0px 15px;
}

.titulo-projetos {
    padding: 15px;
    font-size: 2em;
}

.projetos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px 10px;
    justify-content: center;
}

.conteudo-projetos{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: #353942;
    padding: 10px 10px 10px 10px;
    justify-content: center;
}

.imagem-projetos {
    display: flex;
    width: 300px;
    height: 300px;
    background-color: #3770D4;
    align-self: baseline;
}

.titulo-imagem-projeto {
    margin-top: 5px;
    font-size: 1.7em;
    text-align: center;
    color: #3770D4;
}

.texto-imagem-projetos {
    font-size: 1.2em;
    margin: 5px 0px 10px 0px;
    width: 300px;
    height: 60px;
    display: block;
    text-align: left;
    color: antiquewhite;
}

.botao-projeto {
    display: flex;
    justify-content: center;

}

.texto-botao-projeto {
    background-color: #3770D4;
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 15px;
    font-family: 'Sarala', sans-serif;
    color: antiquewhite;
    font-weight: 400;
    font-size: 1.5em;
}

  
  .rodape {
      padding: 10px;
      font-size: 1em;
  }

