/* HEADER */
.cabecalho {
    padding: 10px 20px;
}

.cabecalho-imagem {
    height: 35px;
}

.cabecalho-menu {
    display: flex;
    gap: 15px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: antiquewhite;
    font-weight: 400;
    font-size: 1em;
}

/* MAIN */
.conteudo {
    margin-bottom: 50px;
    padding: 1px 5px;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo-principal-escrito {
    gap: 15px;
    padding: 30px 10px 30px 10px;
}

.conteudo-principal-escrito-titulo {
    font-size: 3em;
}

.conteudo-principal-escrito-subtitulo {
    font-size: 24px;
}

.conteudo-principal-escrito-botao {
    width: 180px;
    height: 60px;
    border-radius: 15px;
    font-size: 24px;
}

.conteudo-principal-imagem {
    display: flex;
    height: 300px;;
}

/* REDES SOCIAIS */
.imagens-redes-sociais {
    padding: 15px 10px 20px 10px;
}

.logo-rede-social {
    height: 35px;
}

/* CONTEUDO SECUNDARIO  */
.conteudo-secundario {
    gap: 15px;
  }
  
  .conteudo-secundario-titulo {
    padding-top: 15px;
    font-size: 2em;
  }
  
  .conteudo-secundario-paragrafo {
    font-size: 1em;
    padding: 0px 10px;
  }

/* SKILLS */
.skills {
    padding: 20px 10px;
}

.imagens-skills {
    display: flex;
    height: 50px;
    margin: 0px 30px;
}

  /* PROJETOS */
.conteudo-terciario {
    font-size: 1em;
    margin: 30px 15px 30px 15px;
}

.projetos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px 15px;
    justify-content: center;
}

.titulo-projetos {
    padding: 15px;
    font-size: 2em;
}

.conteudo-projetos{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: #353942;
    padding: 10px 10px 10px 10px;
    justify-content: center;
}

.imagem-projetos {
    display: flex;
    width: 300px;
    height: 300px;
    background-color: #3770D4;
    align-self: baseline;
}

.titulo-imagem-projeto {
    font-size: 1.5em;
    text-align: center;
    color: #3770D4;
}

.texto-imagem-projetos {
    font-size: 1em;
    margin: 5px 0px 10px 0px;
    width: 300px;
    height: 60px;
    display: block;
    text-align: left;
    color: antiquewhite;
}

.botao-projeto {
    display: flex;
    justify-content: center;

}

.texto-botao-projeto {
    background-color: #3770D4;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 15px;
    font-family: 'Sarala', sans-serif;
    color: antiquewhite;
    font-weight: 400;
    font-size: 1em;
}

  /* FOOTER */
  .rodape {
      padding: 10px 30px;
      font-size: 1em;
  }
  
