
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --header-color: #141F42;
    --primary-color: #17244C;
    --tertiary-color: #4959EB;
    --primary-font: 'Righteous', cursive;
    --secondary-font: 'Sarala', sans-serif;
}

body {
    font-size: 100%;
    background: #242831;
}

