
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --header-color: #141F42;
    --primary-color: #17244C;
    --tertiary-color: #4959EB;
    --primary-font: 'Righteous', cursive;
    --secondary-font: 'Sarala', sans-serif;
}

body {
    font-size: 100%;
    background: #242831;
}

/* HEADER */
.cabecalho {
    background: #3770D4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid antiquewhite;
}

.cabecalho-imagem {
    
}

.cabecalho-menu {

}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: white;
    font-weight: 400;
    padding: 10px 10px;
    border-radius: 10%;
    cursor: pointer;
    transition:all 0.3s ease;
}

.cabecalho-menu-item:hover {
    background-color: white;
    color: #3770D4;
}

/* MAIN */
.conteudo {

}

.conteudo-principal {

}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo-principal-escrito-titulo {
    display: flex;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    color: #3770D4;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    color: white;
    font-weight: 400;
}

.conteudo-principal-escrito-botao {
    background-color: #3770D4;
    border: none;
    font-family: 'Sarala', sans-serif;
    color: antiquewhite;
    font-weight: 400;
    transition:all 0.3s ease;
}

.conteudo-principal-escrito-botao:hover {
    background-color: white;
    color: #;

}



/* REDES SOCIAIS */
.imagens-redes-sociais {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


.logo-rede-social {
    border-radius: 50%;
    cursor: pointer;
    transition:all 0.3s ease-out;
}

.logo-rede-social:hover {
    background-color: #3770D4;
    color: white
}



/* CONTEUDO SECUNDARIO  */
.conteudo-secundario {
    display: flex;
    flex-direction: column;
  }
  
  .conteudo-secundario-titulo {
    border-top: 0.5px solid white;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    color: white;
    text-align: center;
  }
  
  .conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    color: white;
  }

/* SKILLS */

.skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imagens-skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

  /* PROJETOS */
.conteudo-terciario {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;

}

.titulo-projetos {
    border-top: 0.5px solid white;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    color: antiquewhite;
    text-align: center;
}

.projetos {

}

.conteudo-projetos{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: #353942;
    padding: 10px 10px 10px 10px;
    justify-content: center;
}

.imagem-projetos {
    display: flex;
    width: 150px;
    height: 150px;
    background-color: #3770D4;
    align-self: baseline;
}

.titulo-imagem-projeto {
    margin-top: 5px;
    font-size: 1em;
    text-align: center;
    color: #3770D4;
}

.texto-imagem-projetos {
    font-size: 0.8em;
    margin: 5px 0px 10px 0px;
    width: 150px;
    height: 60px;
    display: block;
    text-align: left;
    color: antiquewhite;
}

.botao-projeto {
    display: flex;
    justify-content: center;

}

.texto-botao-projeto {
    background-color: #3770D4;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 15px;
    font-family: 'Sarala', sans-serif;
    color: antiquewhite;
    font-weight: 400;
    font-size: 1em;
    cursor: pointer;
    transition:all 0.3s ease;
}
.texto-botao-projeto:hover {
    background-color: white;
    color: #3770D4;
}

  /* FOOTER */
  .rodape {
      text-align: center;
      color: white;
      border-top: 0.5px solid white;
      font-family: 'Sarala', sans-serif;
  }
  

